* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c6c6c6;
    background-image: linear-gradient(0deg, #dcdbd1 80%, #009688 20%);
}

.window {
    margin: 0 auto;
    width: 1080px;
    height: 650px;
    background-color: rgb(61, 61, 61);

    box-shadow: -webkit-box-shadow: 5px 5px 10px 0px #606060;
    -moz-box-shadow: 5px 5px 10px 0px #606060;
    -o-box-shadow: 5px 5px 10px 0px #606060;
    box-shadow: 5px 5px 10px 0px #606060;

    display: flex;
}

/*-----COL-1-----*/
.col1 {
    height: 100%;
    width: 35%;
    background-color: aquamarine;
    /* display: flex;
    flex-direction: column; */
    
}

/*Row User*/
.rowUser {
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.userSx {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#avatar {
    height: 40px;
    border-radius: 50%;
}

.userSx span {
    padding: 5px;
}

.userDx {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




/*Row Notif*/

.rowNotif {
    height: 60px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.rowNotif .far {
    margin: 5px;
    padding: 10px;
    background-color: white;
    color:  #8edafc;
    border-radius: 50%;
}

.notifText a {
    font-size: 11px;
    color: black;
}

.notifText p {
    font-size: 13px;
}


/*Row Search*/

.rowSearch {
    height: 40px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowSearch input {
    padding: 7px 200px 7px 7px;
    border: none;
    border-radius: 5px;
    font-size: 11px;
}

/*Row Contacts*/
.rowContacts {
    height: 490px;
    background-color: white;
    overflow-y: auto;
    
    /* flex-grow: 1; */
}

.avatarContact {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;  
}

.contact {
    display: flex;
    align-items: center;
   padding: 10px;
   border-bottom: 1px solid #f1f1f1;
   
}

.contact:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.rowContacts #avatar {
    margin-right: 10px;
    height: 40px;
    border-radius: 50%;
}

.active {
    
    background-color: #e9ebeb; 
    
}

/*-----COL-2-----*/
.col2 {
    height: 100%;
    width: 65%;
    background-color: #e2e2e2; 
}

/*Row Chat*/
.rowChat{
    margin-left: 1px;
    padding: 10px;
    height: 60px;
    background-color:#eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowChatSx {
    display: flex;
align-items: center;
}






/*Box Chat Main*/
.BoxChatMain {
height: 500px;
/* background-color: rgb(131, 192, 202); */
background-image: url(../img/mine.jpg);
overflow-y: auto;
padding: 50px;


}

.messageBox {
    margin: 10px;
padding: 10px;
border-radius: 5px;
max-width: 250px;
}

.sent {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 250px; 

    background-color: #d5f9ba;
    margin-left: auto; 
}
.received {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
    
    background-color: white;
    } 

.messageDate, .accesso {
    font-size: 10px;
    color: #babdbf;
}

.messageDate {
    text-align: end;
}



/*ROW 3 TEXT*/
.rowText {
    height: 90px;
    background-color: #f3eeea;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rowText input {
    width: 85%;
    height: 80%;
    border: none;
    border-radius: 5px;
    padding:20px;
}



/*Icone*/

.fas {
    font-size: 20px;
    padding: 10px;
    color: #b1b1b1;
    
}

.rowText i {
    font-size: 20px;
    color: grey;
}

.fas:hover {
    cursor: pointer;
    color: grey;
}

.rowText i:hover {
    cursor: pointer;
    color: rgb(83, 83, 83);
}


