* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c6c6c6;
    background-image: linear-gradient(0deg, #adadad 80%, #39d655 20%);
}

.window {
    margin: 0 auto;
    width: 1080px;
    height: 650px;
    background-color: rgb(61, 61, 61);
    display: flex;
}

/*-----COL-1-----*/
.col1 {
    height: 650px;
    width: 35%;
    background-color: aquamarine;
}

/*Inizio Row User*/
.rowUser {
    height: 60px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.userSx {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#avatar {
    height: 40px;
    border-radius: 50%;
}

.userSx span {
    padding: 5px;
}

.userDx {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fas {
    font-size: 20px;
    padding: 10px;
    color: grey;
}

/*Fine Row User*/

.rowNotice {
    height: 60px;
    background-color: rgb(62, 212, 250);
}

.rowSearch {
    height: 50px;
    background-color: rgb(56, 153, 243);
}

.rowContacts {
    height: 480px;
    background-color: rgb(109, 139, 230);
    overflow-y: auto;
}

/*-----COL-2-----*/
.col2 {
    width: 65%;
    background-color: deepskyblue;
}

.row1Dx {
    margin-left: 1px;
    height: 60px;
    background-color:lightgray;
}

.rowBoxDx {
height: 500px;
background-color: rgb(131, 192, 202);
overflow-y: auto;
}

.rowText {
    height: 90px;
    background-color: grey;
}