* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c6c6c6;
    background-image: linear-gradient(0deg, #adadad 80%, #39d655 20%);
}

.window {
    margin: 0 auto;
    width: 1000px;
    height: 650px;
    background-color: rgb(61, 61, 61);
    display: flex;
}

/*-----COL-1-----*/
.col1 {
    height: 650px;
    width: 30%;
    background-color: aquamarine;
}

.rowUser {
    height: 60px;
    background-color: dimgrey;
}

.rowNotice {
    height: 60px;
    background-color: rgb(62, 212, 250);
}

.rowSearch {
    height: 50px;
    background-color: rgb(56, 153, 243);
}

.rowContacts {
    height: 480px;
    background-color: rgb(109, 139, 230);
    overflow-y: auto;
}

/*-----COL-2-----*/
.col2 {
    width: 70%;
    background-color: deepskyblue;
}

.rowUserDx {
    margin-left: 1px;
    height: 60px;
    background-color: dimgrey;
}

.rowBoxDx {
height: 490px;
background-color: mediumseagreen;
overflow-y: auto;
}

.rowText {
    height: 100px;
    background-color: grey;
}